form {
    width: 60%;
    margin: 0 auto;
    label {
      color: #000;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2em;
    }
}

.btn {
    font-size: 1.4em;
    font-weight: bold;
}
