<div class="container">
  <div class="row">
    <div class="col">

      <form novalidate [formGroup] = "form" (ngSubmit)="calcBMR()">
          <div class="form-row">  <!--GENDER-->
              <div class="col col-md-4 my-auto">
                  <label class="radio-inline">
                  <input type="radio" formControlName="gender" value="M" id="gender">Male</label>
                  <label class="radio-inline"><input type="radio" formControlName="gender" value="F">Female</label>
              </div>
              <div class="col">
                  <label for="activityLvl">Activity Levels:</label>
                  <select id="activityLvl" class="custom-select" formControlName="activityLevel">
                      <option value="1"selected>Sedentary</option>
                      <option value="2">Low Activity (Doing exercise 1 - 3 days/week)</option>
                      <option value="3">Moderate Activity (Doing exercise 3 - 5 days/week)</option>
                      <option value="4">Heavy Activity (Doing exercise 6 - 7 days/week)</option>
                      <option value="5">Very-Heavy Activity (Sportsman/woman)</option>
                    </select>
              </div>
          </div>
          
          <div class="form-row">
            <div class="col">
              <label for="weight">Weight (in kg):</label>
              <input type="number" id="weight "class="form-control" formControlName="weight">
            </div>
            <div class="col">
                <label for="height">Height (in cm):</label>
              <input type="number" class="form-control" formControlName="height">
            </div>
            <div class="col">
                <label for="age">Age (in years):</label>
                <input type="number" class="form-control" formControlName="age">
            </div>
          </div>

          <input type="submit" value="Calc" class="btn btn-block btn-primary" >
        </form>
      
    </div><!--\.col-->

    <div class="col my-auto"> 
      <h4 class="text-center">BMR (<i>Basal Metabolic Rate)</i>: <span>{{ BMR }} Kcal.</span></h4> 
      <h4 class="text-center">RI (<i>Recommended Intake )</i>: <span>{{ RI }} Kcal.</span></h4> 
    </div>

  </div>  <!--./row-->

  <div class="row">
    <div class="col">Breakfast:<span class="text ml-2">{{ RI * 0.2 }} Kcal.</span></div>
    <div class="col">Snack 1:<span class="text ml-2">{{ RI * 0.1 }} Kcal.</span></div>
    <div class="col">Lunch:<span class="text ml-2">{{ RI * 0.3 }} Kcal.</span></div>
    <div class="col">Snack 2:<span class="text ml-2">{{ RI * 0.1 }} Kcal.</span></div>
    <div class="col">Dinner:<span class="text ml-2">{{ RI * 0.25 }} Kcal.</span></div>
  </div>
</div>
