
@import "../../../variables.scss";

form {
    width: 60%;
    margin: 0 auto;
    label {
      color: $light_green;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.2em;
    }
}

.btn {
    background-color: $orange;
    color: $light_green;
    font-size: 1.4em;
    font-weight: bold;
}
