h3, form {
    margin-top: auto;
}

form {
    padding: 5vh;
    background-color: #AAA;
    width: 100%;
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

label.requerido::before {
  content: "* ";
}

.v-align {
  vertical-align: middle !important;
}
