<div class="container">
<aside>
  <div class="col">
    <ul class="my-auto">
      <li *ngFor="let f of frutas">
        <button (click)="seleccionar(f)" class="btn btn-success btn-lg">{{ f.nombre | titlecase }}</button>
      </li>
    </ul>
  </div>
</aside>
<main>
<div class="row">
  <div class="col">
      <label class="radio-inline ml-2">
        <input type="radio" name="filter" (ngModel)="filtro"  value="">Todas
      </label>
      <label class="radio-inline ml-2">
        <input type="radio" name="filter" (ngModel)="filtro"  value="true">En Oferta
      </label>
      <label class="radio-inline ml-2">
        <input type="radio" name="filter" (ngModel)="filtro"  value="false">Sin Oferta
      </label>
  </div>
  <!--SEARCH-->
  <div class="col">
      <input type="text" [(ngModel)]="txtBusqueda" (keyup)="buscar()" placeholder="Busca por nombre...">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <app-fruta-card [_fruta]="fruta1" [_fruta2]="fruta2" (clickComprar)="actualizarCarro($event)" class="ml-auto"></app-fruta-card>
  </div>
  <div class="col-md-6">
      <app-fruta-card [_fruta]="fruta2" [_fruta2]="fruta1" (clickComprar)="actualizarCarro($event)"></app-fruta-card>
  </div>
        
        
</div>
<div *ngIf="carro" class="carro">
<ul>
    <li *ngFor="let c of carro" class="list-group-item">
      <div class="row">
        <button (click)="eliminar(c)" class="btn-cerrar btn-warning">x</button>
        <div class="col-4">
            <img src="{{ c.imagen }}" class="miniatura">
        </div>
        <div class="col-4">
            <p class="text">{{ c.nombre }}</p>
        </div>
      </div>
       
      <div class="row">
        <span class="text mt-2">€/Ud. {{ c.precio | currency: 'EUR' }} </span>
        <span><button (click)="menos(c)" class="btn-sm btn-danger">-</button></span>
        <span class="text">{{ c.cantidad }} UDs.</span>
        <span><button (click)="mas(c)" class="btn-sm btn-success">+</button></span>
        <span class="text">Total: {{ c.precio * c.cantidad | currency: 'EUR' }}  </span>
      </div>
    </li>
</ul>
<div>
  
    <p class="text text-right ml-2"><i class="fas fa-shopping-cart fa-lg"></i><b class="ml-2 mr-2">TOTAL: {{ precioTotal | currency: 'EUR'}}</b></p>
</div>

</div>
</main>
</div>
