
<main class="container-fluid">
  <div class="row">
    <!--LISTADO FRUTAS-->
    <aside class="col-lg-3 col-md-12">
      <div class="row">
        <ul class="m-0">
          <li *ngFor="let f of frutas | frutasOferta: filtro" class="col-md-6 mx-auto">
              <button (click)="seleccionar(f)" [class.activo]="f == fruta1 || f == fruta2" class="btn btn-success">{{ f.nombre | titlecase }}</button>
            </li>
          </ul>
      </div>
           
    </aside>
    <div class="col-lg-8 col-md-12">

      <div class="row bg-orange py-3">
          <div class="col-lg-4 col-md-12">
            <!--RADIO BUTTONS-->
            <label class="radio-inline ml-1">
              <input type="radio" name="filter" [(ngModel)]="filtro"  [value]="undefined" (ngModelChange)="seleccionarFrutas()">Todas
            </label>
            <label class="radio-inline ml-1">
              <input type="radio" name="filter" [(ngModel)]="filtro"  [value]="true" (ngModelChange)="seleccionarFrutas()">En Oferta
            </label>
            <label class="radio-inline ml-1">
              <input type="radio" name="filter" [(ngModel)]="filtro"  [value]="false" (ngModelChange)="seleccionarFrutas()">Sin Oferta
            </label>
        </div>
        <div class="col-lg-2 col-md-12 my-auto">
          <button type="button" class="btn btn-block btn-warning" (click)="ordenarFrutas()"><i class="fas fa-sort-alpha-down fa-lg"></i></button>
        </div>
        <!--SEARCH-->
        <div class="col-lg-6 col-md-12 my-auto">
            <input type="search" class="float-right" [(ngModel)]="txtBusqueda" (keyup)="buscar()" placeholder="Busca por nombre...">
        </div>
      </div>
      <!--CARDS FRUTA-->
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <app-fruta-card class="mx-auto" [_fruta]="fruta1" [_fruta2]="fruta2" (clickComprar)="actualizarCarro($event)"></app-fruta-card>
          </div>
          <div class="col-lg-6 col-md-12">
              <app-fruta-card class="mx-auto" [_fruta]="fruta2" [_fruta2]="fruta1" (clickComprar)="actualizarCarro($event)"></app-fruta-card>
          </div>
      </div>
    </div> <!-- ./col-lg-8-->

</div>
<div class="row">
  
  <!--CARRO-->
  <div class="col-lg-3 col-md-12">
      <div *ngIf="carro" class="carro">
          <ul>
              <li *ngFor="let c of carro" class="list-group-item">
                <div class="row">
                  <button (click)="eliminar(c)" class="btn-cerrar btn-warning">x</button>
                  <div class="col-4">
                      <img src="{{ c.imagen }}" class="miniatura">
                  </div>
                  <div class="col-4">
                      <p class="text">{{ c.nombre | titlecase }}</p>
                  </div>
                </div>
                 
                <div class="row">
                  <span class="text mt-2">€/Ud. {{ (c.precio - (c.precio * (c.descuento / 100))) | currency: 'EUR' }} </span>
                  <span><button (click)="menos(c)" class="btn-sm btn-danger">-</button></span>
                  <span class="text">{{ c.cantidad }} UDs.</span>
                  <span><button (click)="mas(c)" class="btn-sm btn-success">+</button></span>
                  <span class="text">Total: {{ c.cantidad * (c.precio - (c.precio * (c.descuento / 100))) | currency: 'EUR' }}  </span>
                </div>
              </li>
          </ul>
          <div>
            
              <p class="text text-right ml-2"><i class="fas fa-shopping-cart fa-lg"></i><b class="ml-2 mr-2">TOTAL: {{ precioTotal | currency: 'EUR'}}</b></p>
          </div>
        </div>
  </div>
      
</div>

</main>


