<div class="container">
<aside class="float-left mt-2">
  <div class="col">
    <ul>
      <li *ngFor="let f of frutas" class="list-group-item active">
        {{ f.nombre }} <button (click)="seleccionar(f)" class="float-right">Ver</button>
      </li>
    </ul>
  </div>
</aside>
<main>

<div class="row">
      <div class="col my-auto">
        <app-fruta-card [_fruta]="fruta1" [_fruta2]="fruta2" (clickComprar)="actualizarCarro($event)"></app-fruta-card>
      </div>
      <div class="col my-auto">
        <app-fruta-card [_fruta]="fruta2" [_fruta2]="fruta1" (clickComprar)="actualizarCarro($event)"></app-fruta-card>
      </div>
</div>
<div *ngIf="carro" class="carro">
<ul>
    <li *ngFor="let c of carro" class="list-group-item">
      <div class="row">
        <button (click)="eliminar(c)" class="btn-cerrar btn-warning">x</button>
        <div class="col-4">
            <img src="{{ c.imagen }}" class="miniatura">
        </div>
        <div class="col-4">
            <p class="text">{{ c.nombre }}</p>
        </div>
      </div>
       
      <div class="row">
        <span class="text mt-2">€/Ud. {{ c.precio | currency: 'EUR' }} </span>
        <span><button (click)="menos(c)" class="btn-sm btn-danger">-</button></span>
        <span class="text">{{ c.cantidad }} UDs.</span>
        <span><button (click)="mas(c)" class="btn-sm btn-success">+</button></span>
        <span class="text">Total: {{ c.precio * c.cantidad | currency: 'EUR' }}  </span>
      </div>
    </li>
</ul>
<div>
  
    <p class="text text-right w-100 ml-2"><i class="fas fa-shopping-cart fa-lg ml-2"></i><b class="ml-2">TOTAL: {{ precioTotal | currency: 'EUR'}}</b></p>
</div>

</div>
</main>
</div>
