@import "../../../variables.scss";
aside {
  background-color: $half_green;
  min-height: 85vh;
  ul {
    margin-left: 0;
    padding: 0;
    li {
      margin-top: 5px;
      list-style: none;
      color: $white;
      display: inline-block;
      button {
        width: 100%;
        margin: 0;
      }
      .activo {
        background-color: $dark-green;
      }
    }
    
  }
}
.buscador {
  border-radius: 10px;
  width: 100%;
  line-height: 1.3em;
}
.carro {
    padding-top: 2vh;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    background-color: $orange;
}
  
.miniatura {
    height: 40px;
    width: 60px;
}
  
.btn-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

