$half_green: rgba(76, 175, 80, 0.5);
$dark_green: rgba(32, 71, 33, 1);
$white: #FFF;

aside {
  top: 0;
  right: 0;
  position: absolute;
  height: 100%;
  background-color: $half_green;
  float: right;
  ul {
    background-color: $dark_green;
    li {
      list-style: none;
      color: $white;
      padding: 1vh;
      width: 100%;
      margin-top: 15px;
    }
  }
}
.carro {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #999;
}
  
.miniatura {
    height: 40px;
    width: 60px;
}
  
.btn-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}
  
