table {
    border-collapse: collapse;
}

thead tr th, tfoot tr th {
    padding: 2vh;
    background-color: #1d4a9cb4;
}
  
table, th, td {
    border: 1px solid black;
}

img {
    height: 75px;
    width: 150px;
}