@import "../../../variables.scss";

table {
    border-collapse: collapse;
}

thead tr th, tfoot tr th {
    padding: 2vh;
    background-color: $table-bg;
}

tbody {
    tr:hover {
        background-color: $half-green;
        td:hover {
            background-color: $half-green;
        }
    }
}
  
table, th, td {
    border: 1px solid black;
}

img {
    height: 75px;
    width: 150px;
}

