.carro {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #999;
}

.miniatura {
    height: 40px;
    width: 60px;
}

.btn-cerrar {
    position: absolute;
    top: 0;
    right: 0;
}