<img src="../assets/img/bg-juices.jpg" alt="Fondo">
<div class="container">
    <div class="row my-auto">
        <div destacar="orange" class="col">
            <h1  class="h1 text-center text-white">¡Fruta fresca para todas las temporadas!</h1>
        </div> 
    </div>
    <div class="row my-auto">
        <div class="col">
            <h2 class="h2 text-center text-white">¡Bienvenido!</h2>
        </div>
    </div>
    <div class="row my-auto">
        <div class="col">
            <h3 destacar="orange" class="h3 text-center text-white">Utiliza nuestro comparador para comprar tu fruta al mejor precio.</h3>
        </div>
    </div>
</div>

