<div class="row">
  <div class="col card-container">
    <img src="{{ casa.foto }}" alt="Imagen" class="image">
    <div class="middle">
      <div class="row">
        <div class="col-md-8">
            <ul>
              <li>{{ casa.nombre | uppercase }}</li>
              <li>{{ casa.direccion | titlecase }}</li>
              <li>{{ casa.habitaciones }} habitacion(es).</li>
              <li>{{ casa.alquiler? 'En Alquiler' : 'En Venta' }}</li>
              <li>{{ casa.precio | currency: 'EUR'}}</li>
            </ul>
        </div>
        <div class="col-md-4">
          <ul class="servicios">
            <p>Servicios</p>
            <li *ngFor="let s of casa.servicios">
              <p>{{ s.nombre | titlecase }}<i class="ml-2 fas fa-{{ s.disponible? 'check text-success' : 'times text-danger'}}"></i></p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>