<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto text-center">
          <li class="nav-item">
            <span><img src="../assets/img/icon.png" alt="icono"></span>
            <a class="nav-item nav-link" [routerLink]="['/comparador']">Comparador</a>
            <span><img src="../assets/img/icon.png" alt="icono"></span>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link" [routerLink]="['/backoffice']" >Zona Privada</a>
              <span><img src="../assets/img/icon.png" alt="icono"></span>
          </li>
          <li *ngIf="isLogged()" class="nav-item">
            <a class="nav-item nav-link" [routerLink]="['']" (click)="cerrarSesion()" >Salir</a>
            <span><img src="../assets/img/icon.png" alt="icono"></span>
          </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
