<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand ml-0" href="#">Navbar</a></mdb-navbar-brand>
  <!-- Collapsible content -->
  <links>
      <!-- Links -->
      <ul class="navbar-nav">

          <!-- Dropdown DOCs -->
          <li class="nav-item dropdown" dropdown>
              <button dropdownToggle mdbWavesEffect type="button" class="btn btn-primary dropdown-toggle" mdbWavesEffect>
              DOCs<span class="caret"></span></button>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/doc-general']">General</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/doc-pipes']">Pipes</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/doc-formularios-reactivos']">Formularios</a>
              </div>
          </li>
          <!-- Dropdown PRIMEROS PASOS -->
          <li class="nav-item dropdown" dropdown>
              <button dropdownToggle mdbWavesEffect type="button" class="btn btn-primary dropdown-toggle" mdbWavesEffect>
              Componentes</button>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/primeros-pasos-primer-componente']">Primer Componente</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/primeros-pasos-comp-alumno']">Alumno</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/primeros-pasos-arrays']">Arrays</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/primeros-pasos-comparador']">Comparador</a>
              </div>
          </li>
          <!-- Dropdown CLASES -->
          <li class="nav-item dropdown" dropdown>
              <button dropdownToggle mdbWavesEffect type="button" class="btn btn-primary dropdown-toggle" mdbWavesEffect>
                Clases</button>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/clase-videojuego']">Videojuego</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/clase-persona']">Persona</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/clase-fruta']">Fruta (REST)</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/clase-tarea']">Tarea</a>
                </div>
        </li>

      </ul>
      <!-- Links -->

      <div class="ml-auto">
        <a class="nav-item btn btn-danger ml-auto" mdbWavesEffect [routerLink]="['/backoffice']">Backoffice</a>
        <a class="nav-item btn btn-success ml-auto" mdbWavesEffect [routerLink]="['/login']">Login</a>
      </div>
      
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet> <!-- Necesario para usar routerLink-->

