@import "../../../variables.scss";

.container {
	position: relative;
	width: 100%;
	height: 100%;
	&:hover {
		.image {
			opacity: 0.3;
		}
		.middle {
      opacity: 1;
			background-color: $half_green;
		}
	}
}

.image {
	opacity: 1;
  display: block;
  background-color: $white;
	width: 100%;
	height: 200px;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: .5s ease;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  width: 100%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.text {
	background-color: $half_green;
	color: $white;
	font-size: 16px;
	padding: 16px 32px;
}

.discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #2239A1;
  padding: 5px;
  color: $white;
  border-radius: 50%;
}

.comparador {
  background-color: $dark-green;
  padding: 2vh;
	opacity: 1;
	.text-comparador {
		font-size: 1.4em;
		padding: 2vh;
		display: inline-block;
		text-align: center;
		font-weight: bold;
	}
}

.relativo {
  position: relative;
}
